<div class = "container">
 
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container bg-dark" style = "height: 60px;">
            <div class="navbar-header">
                <h1 class="navbar-brand text-white"><span class="text-primary">Tweet</span>App</h1>
            </div>
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li class="nav-item"><a class="nav-link" href="/login"><span
                    class="glyphicon glyphicon-log-out"></span> Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register"><span
                            class="glyphicon glyphicon-log-out"></span> Register</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class = "container">
     <div>
         <img src = "../../assets/image/background.jpg.jpg" style="width:100%;"/>
     </div>
</div>
