<div class="container justify-content-around">
    <!--
     kjgdlkjg
    -->


    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container bg-dark">
            <div class="navbar-header">
                <i class="navbar-brand text-white"><span class="text-primary">Tweet</span>App</i>
            </div>
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="/login"><span
                            class="glyphicon glyphicon-log-out"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container border">
        <div class="container2" style = "background-color: #eee;">

            <form [formGroup]='registerForm' (ngSubmit)="onSubmit()">
                <div class="card-body p-md-3 pt-1 text-black">
                    
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <div class="form-outline">
                                <input type="text" id="form3Example1m" formControlName="firstName"
                                    class="form-control form-control-sm" />
                                <label class="form-label" for="form3Example1m">First name</label>

                            </div>

                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="form-outline">
                                <input type="text" id="form3Example1n" formControlName="lastName"
                                    class="form-control form-control-sm" />
                                <label class="form-label" for="form3Example1n">Last name</label>
                            </div>

                        </div>
                        <div *ngIf="submitted && registerForm.get('firstName')?.hasError('required')"
                            class="alert alert-danger">

                            First Name is required

                        </div>
                    </div>


                    <div class="form-outline mb-2">
                        <input type="text" id="form3Example8" formControlName="username"
                            class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example8">User Name</label>
                        <div *ngIf="submitted && registerForm.get('username')?.hasError('required')"
                            class="alert alert-danger">
                            <div *ngIf="registerForm.get('username')?.hasError('required')">
                                User Name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-outline mb-2">
                        <input type="email" id="form3Example97" formControlName="email"
                            class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example97">Email ID</label>
                        <div *ngIf="submitted && registerForm.get('email')?.hasError('required')"
                            class="alert alert-danger">
                            <div *ngIf="registerForm.get('email')?.hasError('required')">
                                Email is required
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-2">
                        <input type="text" id="form3Example99" formControlName="contact"
                            class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example99">Contact</label>
                        <div *ngIf="submitted && registerForm.get('contact')?.hasError('required')"
                            class="alert alert-danger">
                            <div *ngIf="registerForm.get('contact')?.hasError('required')">
                                Contact is required
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-2">
                        <input type="password" id="form3Example98" formControlName="password"
                            class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example98">Password</label>
                        <div *ngIf="submitted && registerForm.get('password')?.hasError('required')"
                            class="alert alert-danger">
                            <div *ngIf="registerForm.get('password')?.hasError('required')">
                                Password is required
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-2">
                        <input type="password" id="form3Example99" formControlName="confirmPassword"
                            class="form-control form-control-sm" />
                        <label class="form-label" for="form3Example99">Confirm Password</label>
                        <div *ngIf="submitted && registerForm.get('confirmPassword')?.hasError('required')"
                            class="alert alert-danger">
                            <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')">
                                Confirm Password is required
                            </div>
                            ​
                            <div *ngIf="registerForm.get('confirmPassword')?.hasError('confirmPasswordValidator')">
                                Passsword and Confirm Password didn't match.
                            </div>
                        </div>
                    </div>




                    <div class="d-flex justify-content-end pt-3">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>

                    </div>
                    <div class="d-flex justify-content-end pt-3">
                       
                        <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/login"
                            class="link-primary">Login</a></p>
                    </div>
                    <div *ngIf = "checksuccess" class="d-flex justify-content-end pt-3">
                       
                        <p class="link-success">Successfully registered</p>
                    </div>
                    <div *ngIf = "notregistered" class="d-flex justify-content-end pt-3">
                       
                        <p  class="link-danger">Something is wrong</p>
                    </div>


                </div>

            </form>

        </div>

    </div>
</div>